iframe {
  width: 100vw;
  height: 144vh;
  border: none;
  display: block;
}

/* start hyperlink */
a:link {
  color: #bed417;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #bed417;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #bed417;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #bed417;
  background-color: transparent;
  text-decoration: none;
}
/* end hyperlink */

:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4/3;
    --wp--preset--aspect-ratio--3-4: 3/4;
    --wp--preset--aspect-ratio--3-2: 3/2;
    --wp--preset--aspect-ratio--2-3: 2/3;
    --wp--preset--aspect-ratio--16-9: 16/9;
    --wp--preset--aspect-ratio--9-16: 9/16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, #0693e3 0%, #9b51e0 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, #7adcb4 0%, #00d082 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, #fcb900 0%, #ff6900 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, #ff6900 0%, #cf2e2e 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, #eeeeee 0%, #a9b8c3 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, #4aeadc 0%, #9778d1 20%, #cf2aba 40%, #ee2c82 60%, #fb6962 80%, #fef84c 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, #ffceec 0%, #9896f0 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, #fecda5 0%, #fe2d2d 50%, #6b003e 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, #ffcb70 0%, #c751c0 50%, #4158d0 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, #fff5cb 0%, #b6e3d4 50%, #33a7b5 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, #caf880 0%, #71ce7e 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, #020381 0%, #2874fc 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px #00000033;
    --wp--preset--shadow--deep: 12px 12px 50px #00000066;
    --wp--preset--shadow--sharp: 6px 6px 0px #00000033;
    --wp--preset--shadow--outlined: 6px 6px 0px -3px #ffffff, 6px 6px #000000;
    --wp--preset--shadow--crisp: 6px 6px 0px #000000;
}

:root {
  --wp--style--global--content-size: 800px;
  --wp--style--global--wide-size: 1200px;
}

:where(body) {
  margin: 0;
}

:root {
  --wp--style--block-gap: 24px;
}

body {
  padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

a:where(:not(.wp-element-button)) {
  text-decoration: underline;
}

@keyframes eicon-spin {

    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }

}

@charset "UTF-8";

@keyframes hide-scroll {
0%,to{overflow:hidden}
}

.foo-2448 .foo-element.foo-element-6722ec5b {
  --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --overlay-opacity: 0.5;
    --margin-top: 30px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 50px;
    --padding-bottom: 80px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.foo-2448 .foo-element.foo-element-5bd948eb {
  --display: flex;
    --justify-content: center;
}

.foo-2448 .foo-element.foo-element-5bd948eb.e-con {
  --flex-grow: 0;
    --flex-shrink: 0;
}

.foo-2448 .foo-element.foo-element-6ca74ca7 img {
  width: 200px;
}

.foo-2448 .foo-element.foo-element-ad8393d {
  --display: flex;
    --justify-content: center;
}

.foo-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}

.foo-2448 .foo-element.foo-element-38ba94ed {
  text-align: end;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}

:root {
  --direction-multiplier: 1
}

.foo-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -10000em;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.foo *,
.foo :after,
.foo :before {
  box-sizing: border-box
}

.foo a {
  box-shadow: none;
    text-decoration: none
}

.foo img {
  border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    max-width: 100%
}

.foo embed,
.foo iframe,
.foo object,
.foo video {
  border: none;
    line-height: 1;
    margin: 0;
    max-width: 100%;
    width: 100%
}

.foo-element {
  --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    align-self: var(--align-self);
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order)
}

.foo-element:where(.e-con-full, .foo-widget) {
  align-content: var(--align-content);
    align-items: var(--align-items);
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    gap: var(--row-gap) var(--column-gap);
    justify-content: var(--justify-content)
}

:root {
  --page-title-display: block
}

.foo-widget {
  position: relative
}

.foo-widget:not(:last-child) {
  margin-block-end: var(--kit-widget-spacing, 20px)
}

.e-con {
  --border-radius: 0;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    --border-style: initial;
    --border-color: initial;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --content-width: min(100%, var(--container-max-width, 1140px));
    --width: 100%;
    --min-height: initial;
    --height: auto;
    --text-align: initial;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: var(--container-default-padding-top, 10px);
    --padding-right: var(--container-default-padding-right, 10px);
    --padding-bottom: var(--container-default-padding-bottom, 10px);
    --padding-left: var(--container-default-padding-left, 10px);
    --position: relative;
    --z-index: revert;
    --overflow: visible;
    --gap: var(--widgets-spacing, 20px);
    --row-gap: var(--widgets-spacing-row, 20px);
    --column-gap: var(--widgets-spacing-column, 20px);
    --overlay-mix-blend-mode: initial;
    --overlay-opacity: 1;
    --overlay-transition: 0.3s;
    --e-con-grid-template-columns: repeat(3, 1fr);
    --e-con-grid-template-rows: repeat(2, 1fr);
    border-radius: var(--border-radius);
    height: var(--height);
    min-height: var(--min-height);
    min-width: 0;
    overflow: var(--overflow);
    position: var(--position);
    width: var(--width);
    z-index: var(--z-index);
    --flex-wrap-mobile: wrap
}

.e-con:where(:not(.e-div-block-base)) {
  transition: background var(--background-transition, .3s), border var(--border-transition, .3s), box-shadow var(--border-transition, .3s), transform var(--e-con-transform-transition-duration, .4s)
}

.e-con {
  --margin-block-start: var(--margin-top);
    --margin-block-end: var(--margin-bottom);
    --margin-inline-start: var(--margin-left);
    --margin-inline-end: var(--margin-right);
    --padding-inline-start: var(--padding-left);
    --padding-inline-end: var(--padding-right);
    --padding-block-start: var(--padding-top);
    --padding-block-end: var(--padding-bottom);
    --border-block-start-width: var(--border-top-width);
    --border-block-end-width: var(--border-bottom-width);
    --border-inline-start-width: var(--border-left-width);
    --border-inline-end-width: var(--border-right-width)
}

.e-con {
  margin-block-end: var(--margin-block-end);
    margin-block-start: var(--margin-block-start);
    margin-inline-end: var(--margin-inline-end);
    margin-inline-start: var(--margin-inline-start);
    padding-inline-end: var(--padding-inline-end);
    padding-inline-start: var(--padding-inline-start)
}

.e-con.e-flex {
  --flex-direction: column;
    --flex-basis: auto;
    --flex-grow: 0;
    --flex-shrink: 1;
    flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis)
}

.e-con-full,
.e-con>.e-con-inner {
  padding-block-end: var(--padding-block-end);
    padding-block-start: var(--padding-block-start);
    text-align: var(--text-align)
}

.e-con-full.e-flex,
.e-con.e-flex>.e-con-inner {
  flex-direction: var(--flex-direction)
}

.e-con,
.e-con>.e-con-inner {
  display: var(--display)
}

.e-con-boxed.e-flex {
  align-content: normal;
    align-items: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal
}

.e-con-boxed {
  gap: initial;
    text-align: initial
}

.e-con.e-flex>.e-con-inner {
  align-content: var(--align-content);
    align-items: var(--align-items);
    align-self: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content)
}

.e-con>.e-con-inner {
  gap: var(--row-gap) var(--column-gap);
    height: 100%;
    margin: 0 auto;
    max-width: var(--content-width);
    padding-inline-end: 0;
    padding-inline-start: 0;
    width: 100%
}

:is(.foo-section-wrap, [data-foo-id])>.e-con {
  --margin-left: auto;
    --margin-right: auto;
    max-width: min(100%, var(--width))
}

.e-con .foo-widget.foo-widget {
  margin-block-end: 0
}

.e-con .foo-widget {
  min-width: 0
}

.e-con>.e-con-inner>.foo-widget>.foo-widget-container,
.e-con>.foo-widget>.foo-widget-container {
  height: 100%
}

.e-con.e-con>.e-con-inner>.foo-widget,
.foo.foo .e-con>.foo-widget {
  max-width: 100%
}

.e-con .foo-widget:not(:last-child) {
  --kit-widget-spacing: 0px
}

.foo-field-group .foo-field-textual::-moz-placeholder {
  color: inherit;
    font-family: inherit;
    opacity: .6
}

.foo-element:where(:not(.e-con)):where(:not(.e-div-block-base)) .foo-widget-container,
.foo-element:where(:not(.e-con)):where(:not(.e-div-block-base)):not(:has(.foo-widget-container)) {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s)
}

.foo-heading-title {
  line-height: 1;
    margin: 0;
    padding: 0
}
.foo-kit-2306 {
  --e-global-color-primary:#BED417;--e-global-color-secondary:#2F3138;--e-global-color-text:#FFFFFF;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Montserrat";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Montserrat";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Montserrat";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Montserrat";--e-global-typography-accent-font-weight:500;background-color:#2F3138;color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:17px;
}

.foo-kit-2306 h1 {
  color:var( --e-global-color-primary );font-family:"Montserrat", Sans-serif;font-size:40px;font-weight:700;
}

.foo-kit-2306 h2 {
  color:var( --e-global-color-primary );font-family:"Montserrat", Sans-serif;font-size:40px;font-weight:700;
}

.e-con {
  --container-max-width:1140px;
}

.foo-widget:not(:last-child) {
  margin-block-end:20px;
}

.foo-element {
  --widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;
}

}h1.entry-title {
  display:var(--page-title-display);
}

.foo-item:not(:hover):not(:focus):not(.foo-item-active):not(.highlighted):after,.foo-item:not(:hover):not(:focus):not(.foo-item-active):not(.highlighted):before {
  opacity:0
}

.foo-item-active:after,.foo-item-active:before,.foo-item.highlighted:after,.foo-item.highlighted:before,.foo-item:focus:after,.foo-item:focus:before,.foo-item:hover:after,.foo-item:hover:before {
  transform:scale(1)
}

.e--pointer-text.e--animation-none,.e--pointer-text.e--animation-none .foo-item,.e--pointer-text.e--animation-none .foo-item:after,.e--pointer-text.e--animation-none .foo-item:before,.e--pointer-text.e--animation-none .foo-item:focus,.e--pointer-text.e--animation-none .foo-item:hover,.e--pointer-text.e--animation-none:after,.e--pointer-text.e--animation-none:before,.e--pointer-text.e--animation-none:focus,.e--pointer-text.e--animation-none:hover {
  transition-duration:0s
}

.foo-nav-menu--main .foo-nav-menu a {
  transition:.4s
}

.foo-nav-menu--main .foo-nav-menu a,.foo-nav-menu--main .foo-nav-menu a.highlighted,.foo-nav-menu--main .foo-nav-menu a:focus,.foo-nav-menu--main .foo-nav-menu a:hover {
  padding:13px 20px
}

.foo-nav-menu--layout-horizontal {
  display:flex
}

.foo-nav-menu--layout-horizontal .foo-nav-menu {
  display:flex;flex-wrap:wrap
}

.foo-nav-menu--layout-horizontal .foo-nav-menu a {
  flex-grow:1;white-space:nowrap
}

.foo-nav-menu--layout-horizontal .foo-nav-menu>li {
  display:flex
}

.foo-nav-menu--layout-horizontal .foo-nav-menu>li:not(:first-child)>a {
  margin-inline-start:var(--e-nav-menu-horizontal-menu-item-margin)
}

.foo-nav-menu--layout-horizontal .foo-nav-menu>li:not(:last-child)>a {
  margin-inline-end:var(--e-nav-menu-horizontal-menu-item-margin)
}

.foo-nav-menu__align-justify .foo-nav-menu--layout-horizontal .foo-nav-menu {
  width:100%
}

.foo-nav-menu__align-justify .foo-nav-menu--layout-horizontal .foo-nav-menu>li {
  flex-grow:1
}

.foo-nav-menu__align-justify .foo-nav-menu--layout-horizontal .foo-nav-menu>li>a {
  justify-content:center
}

.foo-widget-nav-menu .foo-widget-container,.foo-widget-nav-menu:not(:has(.foo-widget-container)):not([class*=foo-hidden-]) {
  display:flex;flex-direction:column
}

.foo-nav-menu {
  position:relative;z-index:2
}

.foo-nav-menu,.foo-nav-menu li,.foo-nav-menu ul {
  display:block;line-height:normal;list-style:none;margin:0;padding:0;-webkit-tap-highlight-color:#00000000
}

.foo-nav-menu a,.foo-nav-menu li {
  position:relative
}

.foo-nav-menu li {
  border-width:0
}

.foo-nav-menu a {
  align-items:center;display:flex
}

.foo-nav-menu a,.foo-nav-menu a:focus,.foo-nav-menu a:hover {
  line-height:20px;padding:10px 20px
}

.foo-nav-menu--dropdown .foo-item.foo-item-active,.foo-nav-menu--dropdown .foo-item.highlighted,.foo-nav-menu--dropdown .foo-item:focus,.foo-nav-menu--dropdown .foo-item:hover,.foo-sub-item.foo-item-active,.foo-sub-item.highlighted,.foo-sub-item:focus,.foo-sub-item:hover {
  background-color:#3f444b;color:#fff
}

.foo-menu-toggle {
  align-items:center;background-color:#0000000d;border:0 solid;border-radius:3px;color:#33373d;cursor:pointer;display:flex;font-size:var(--nav-menu-icon-size,22px);justify-content:center;padding:.25em
}

.foo-menu-toggle.foo-active .foo-menu-toggle__icon--open,.foo-menu-toggle:not(.foo-active) .foo-menu-toggle__icon--close {
  display:none
}

.foo-menu-toggle .e-font-icon-svg {
  fill:#33373d;height:1em;width:1em
}

.foo-menu-toggle svg {
  height:auto;width:1em;fill:var(--nav-menu-icon-color,currentColor)
}

.foo-nav-menu--dropdown {
  background-color:#fff;font-size:13px
}

.foo-nav-menu--dropdown.foo-nav-menu__container {
  margin-top:10px;overflow-x:hidden;overflow-y:auto;transform-origin:top;transition:max-height .3s,transform .3s
}

.foo-nav-menu--dropdown a {
  color:#33373d
}

.foo-nav-menu--toggle {
  --menu-height:100vh
}

.foo-nav-menu--toggle .foo-menu-toggle:not(.foo-active)+.foo-nav-menu__container {
  max-height:0;overflow:hidden;transform:scaleY(0)
}

.foo-nav-menu--stretch .foo-nav-menu__container.foo-nav-menu--dropdown {
  position:absolute;z-index:9997
}

.foo-widget .foo-icon-list-items {
  list-style-type:none;margin:0;padding:0
}

.foo-widget .foo-icon-list-item {
  margin:0;padding:0;position:relative
}

.foo-widget .foo-icon-list-item,.foo-widget .foo-icon-list-item a {
  align-items:var(--icon-vertical-align,center);display:flex;font-size:inherit
}

.foo-widget .foo-icon-list-icon+.foo-icon-list-text {
  align-self:center;padding-inline-start:5px
}

.foo-widget .foo-icon-list-icon {
  display:flex;inset-block-start:var(--icon-vertical-offset,initial);position:relative
}

.foo-widget .foo-icon-list-icon svg {
  height:var(--e-icon-list-icon-size,1em);width:var(--e-icon-list-icon-size,1em)
}

.foo-widget.foo-widget-icon-list .foo-icon-list-icon {
  text-align:var(--e-icon-list-icon-align)
}

.foo-widget.foo-widget-icon-list .foo-icon-list-icon svg {
  margin:var(--e-icon-list-icon-margin,0 calc(var(--e-icon-list-icon-size, 1em) * .25) 0 0)
}

#left-area ul.foo-icon-list-items,.foo .foo-element ul.foo-icon-list-items,.foo-edit-area .foo-element ul.foo-icon-list-items {
  padding:0
}

.foo-2490 .foo-element.foo-element-6e44be4e {
  --display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;
}

.foo-2490 .foo-element.foo-element-6e44be4e:not(.foo-motion-effects-element-type-background), .foo-2490 .foo-element.foo-element-6e44be4e > .foo-motion-effects-container > .foo-motion-effects-layer {
  background-color:#2F3138;
}

.foo-widget-heading .foo-heading-title {
  font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );
}

.foo-2490 .foo-element.foo-element-5f99a24b > .foo-widget-container {
  margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;
}

.foo-2490 .foo-element.foo-element-5f99a24b {
  text-align:center;
}

.foo-2490 .foo-element.foo-element-5f99a24b .foo-heading-title {
  font-family:"Montserrat", Sans-serif;font-size:40px;font-weight:700;line-height:55px;
}

.foo-2490 .foo-element.foo-element-39c8884e {
  --display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--border-radius:0px 0px 0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;
}

.foo-2490 .foo-element.foo-element-39c8884e:not(.foo-motion-effects-element-type-background), .foo-2490 .foo-element.foo-element-39c8884e > .foo-motion-effects-container > .foo-motion-effects-layer {
  background-color:#2F3138;
}

.foo-2490 .foo-element.foo-element-16248bc7 {
  --display:flex;--border-radius:20px 20px 20px 20px;--margin-top:0px;--margin-bottom:80px;--margin-left:0px;--margin-right:0px;--padding-top:50px;--padding-bottom:50px;--padding-left:20px;--padding-right:20px;
}

.foo-2490 .foo-element.foo-element-16248bc7:not(.foo-motion-effects-element-type-background), .foo-2490 .foo-element.foo-element-16248bc7 > .foo-motion-effects-container > .foo-motion-effects-layer {
  background-color:transparent;background-image:linear-gradient(90deg, #9CCF2F 0%, #45B8C6 100%);
}

.foo-2490 .foo-element.foo-element-1c257389 > .foo-widget-container {
  margin:30px 0px 20px 0px;
}

.foo-2490 .foo-element.foo-element-1c257389 {
  text-align:center;
}

.foo-2490 .foo-element.foo-element-7dfae5eb > .foo-widget-container {
  margin:30px 0px 20px 0px;
}

.foo-2490 .foo-element.foo-element-7dfae5eb {
  text-align:center;
}

.foo-widget-text-editor {
  font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );
}

.foo-2490 .foo-element.foo-element-7eb81e2d {
  text-align:center;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;
}

.foo-2490 .foo-element.foo-element-36376482 {
  --display:flex;--border-radius:20px 20px 20px 20px;--padding-top:50px;--padding-bottom:50px;--padding-left:50px;--padding-right:50px;
}

.foo-2490 .foo-element.foo-element-36376482:not(.foo-motion-effects-element-type-background), .foo-2490 .foo-element.foo-element-36376482 > .foo-motion-effects-container > .foo-motion-effects-layer {
  background-color:transparent;background-image:linear-gradient(90deg, #45B8C6 0%, #829597 100%);
}

.foo-2490 .foo-element.foo-element-70d7e9e3 > .foo-widget-container {
  margin:30px 0px 20px 0px;
}

.foo-2490 .foo-element.foo-element-70d7e9e3 {
  text-align:center;
}

.foo-2490 .foo-element.foo-element-70d7e9e3 .foo-heading-title {
  font-family:"Montserrat", Sans-serif;font-size:2.2em;font-weight:600;line-height:2lh;color:#FFFFFFAD;
}

.foo-2490 .foo-element.foo-element-f4e135d > .foo-widget-container {
  margin:30px 0px 20px 0px;
}

.foo-2490 .foo-element.foo-element-f4e135d {
  text-align:center;
}

.foo-2490 .foo-element.foo-element-f4e135d .foo-heading-title {
  font-family:"Montserrat", Sans-serif;font-size:2.2em;font-weight:600;line-height:2lh;color:#FFFFFF;
}

.foo-2490 .foo-element.foo-element-45f31b1b {
  text-align:center;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;
}

.foo-2490 .foo-element.foo-element-4965540e {
  --display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:80px;--padding-left:10px;--padding-right:10px;
}

.foo-2490 .foo-element.foo-element-4965540e:not(.foo-motion-effects-element-type-background), .foo-2490 .foo-element.foo-element-4965540e > .foo-motion-effects-container > .foo-motion-effects-layer {
  background-color:#2F3138;
}

.foo-2490 .foo-element.foo-element-2214cf40 .foo-heading-title {
  font-family:"Montserrat", Sans-serif;font-weight:600;color:#BED417;
}

.foo-widget-icon-list .foo-icon-list-icon svg {
  fill:var( --e-global-color-primary );
}

.foo-widget-icon-list .foo-icon-list-item > .foo-icon-list-text, .foo-widget-icon-list .foo-icon-list-item > a {
  font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );
}

.foo-widget-icon-list .foo-icon-list-text {
  color:#BED417;
}

.foo-2490 .foo-element.foo-element-59d6f643 > .foo-widget-container {
  margin:30px 0px 20px 0px;
}

.foo-2490 .foo-element.foo-element-59d6f643 .foo-heading-title {
  font-family:"Montserrat", Sans-serif;font-weight:600;color:#BED417;
}

.foo-2490 .foo-element.foo-element-65fd5f7d .foo-icon-list-items:not(.foo-inline-items) .foo-icon-list-item:not(:last-child) {
  padding-block-end:calc(6px/2);
}

.foo-2490 .foo-element.foo-element-65fd5f7d .foo-icon-list-items:not(.foo-inline-items) .foo-icon-list-item:not(:first-child) {
  margin-block-start:calc(6px/2);
}

.foo-2490 .foo-element.foo-element-65fd5f7d .foo-icon-list-icon svg {
  transition:fill 0.3s;
}

.foo-2490 .foo-element.foo-element-65fd5f7d {
  --e-icon-list-icon-size:20px;--icon-vertical-offset:0px;
}

.foo-2490 .foo-element.foo-element-65fd5f7d .foo-icon-list-icon {
  padding-inline-end:3px;
}

.foo-2490 .foo-element.foo-element-65fd5f7d .foo-icon-list-text {
  color:#FFFFFF;transition:color 0.3s;
}

.foo-2450 .foo-element.foo-element-696d8aaa {
  --display:flex;--min-height:0px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--padding-top:20px;--padding-bottom:20px;--padding-left:80px;--padding-right:80px;
}

.foo-2450 .foo-element.foo-element-696d8aaa:not(.foo-motion-effects-element-type-background), .foo-2450 .foo-element.foo-element-696d8aaa > .foo-motion-effects-container > .foo-motion-effects-layer {
  background-color:#2F3138;
}

.foo-2450 .foo-element.foo-element-3dfadd25 {
  --display:flex;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
}

.foo-2450 .foo-element.foo-element-3dfadd25.e-con {
  --flex-grow:0;--flex-shrink:0;
}

.foo-2450 .foo-element.foo-element-6176821d img {
  width:210px;
}

.foo-widget-nav-menu .foo-nav-menu .foo-item {
  font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );
}

.foo-widget-nav-menu .foo-nav-menu--main .foo-item {
  color:var( --e-global-color-text );fill:var( --e-global-color-text );
}

.foo-widget-nav-menu .foo-nav-menu--main .foo-item:hover,
					.foo-widget-nav-menu .foo-nav-menu--main .foo-item.foo-item-active,
					.foo-widget-nav-menu .foo-nav-menu--main .foo-item.highlighted,
					.foo-widget-nav-menu .foo-nav-menu--main .foo-item:focus {
  color:var( --e-global-color-accent );fill:var( --e-global-color-accent );
}

.foo-widget-nav-menu {
  --e-nav-menu-divider-color:var( --e-global-color-text );
}

.foo-widget-nav-menu .foo-nav-menu--dropdown .foo-item, .foo-widget-nav-menu .foo-nav-menu--dropdown  .foo-sub-item {
  font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );
}

.foo-2450 .foo-element.foo-element-668b9536 > .foo-widget-container {
  padding:0px 20px 0px 20px;border-radius:100px 100px 100px 100px;
}

.foo-2450 .foo-element.foo-element-668b9536.foo-element {
  --align-self:center;
}

.foo-2450 .foo-element.foo-element-668b9536 .foo-menu-toggle {
  margin:0 auto;
}

.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu .foo-item {
  font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;
}

.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main .foo-item:hover,
					.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main .foo-item.foo-item-active,
					.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main .foo-item.highlighted,
					.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main .foo-item:focus {
  color:var( --e-global-color-primary );fill:var( --e-global-color-primary );
}

.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--dropdown a, .foo-2450 .foo-element.foo-element-668b9536 .foo-menu-toggle {
  color:var( --e-global-color-primary );fill:var( --e-global-color-primary );
}

.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--dropdown {
  background-color:#182963;
}

.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--dropdown a:hover,
					.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--dropdown a:focus,
					.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--dropdown a.foo-item-active,
					.foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--dropdown a.highlighted {
  background-color:var( --e-global-color-secondary );
}

.foo-2450 .foo-element.foo-element-668b9536 div.foo-menu-toggle {
  color:var( --e-global-color-primary );
}

.foo-2450 .foo-element.foo-element-668b9536 div.foo-menu-toggle svg {
  fill:var( --e-global-color-primary );
}

.foo-2450 .foo-element.foo-element-52c66a6e {
  --display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--padding-top:40px;--padding-bottom:40px;--padding-left:80px;--padding-right:80px;
}

.foo-2450 .foo-element.foo-element-52c66a6e:not(.foo-motion-effects-element-type-background), .foo-2450 .foo-element.foo-element-52c66a6e > .foo-motion-effects-container > .foo-motion-effects-layer {
  background-color:#2F3138;
}

.foo-2450 .foo-element.foo-element-52c66a6e.e-con {
  --flex-grow:0;--flex-shrink:0;
}

.foo-2450 .foo-element.foo-element-3eda7479 {
  --display:flex;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
}

.foo-2450 .foo-element.foo-element-3eda7479.e-con {
  --flex-grow:0;--flex-shrink:0;
}

.foo-2450 .foo-element.foo-element-29e2659d img {
  width:210px;
}

.foo-2450 .foo-element.foo-element-3471f9db {
  --display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;
}

.foo-2450 .foo-element.foo-element-25c6a6ab > .foo-widget-container {
  background-color:#BED417;padding:15px 35px 15px 35px;border-radius:100px 100px 100px 100px;
}

.foo-2450 .foo-element.foo-element-25c6a6ab .foo-menu-toggle {
  margin:0 auto;background-color:#BED417;
}

.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu .foo-item {
  font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;
}

.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--main .foo-item:hover,
					.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--main .foo-item.foo-item-active,
					.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--main .foo-item.highlighted,
					.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--main .foo-item:focus {
  color:var( --e-global-color-primary );fill:var( --e-global-color-primary );
}

.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--dropdown a, .foo-2450 .foo-element.foo-element-25c6a6ab .foo-menu-toggle {
  color:#BED417;fill:#BED417;
}

.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--dropdown {
  background-color:#2F3138;
}

.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--dropdown a:hover,
					.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--dropdown a:focus,
					.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--dropdown a.foo-item-active,
					.foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--dropdown a.highlighted {
  background-color:#3F3F3F;
}

.foo-2450 .foo-element.foo-element-25c6a6ab div.foo-menu-toggle {
  color:#444444;
}

.foo-2450 .foo-element.foo-element-25c6a6ab div.foo-menu-toggle svg {
  fill:#444444;
}

@media (max-width:767px) {
  .foo-2448 .foo-element.foo-element-6ca74ca7 {
    text-align: start;
  }

  .foo-2448 .foo-element.foo-element-6ca74ca7 img {
    width: 140px;
  }

  .foo-2448 .foo-element.foo-element-38ba94ed {
    text-align: start;
        font-size: 15px;
  }

  .e-con.e-flex {
    --width: 100%;
        --flex-wrap: var(--flex-wrap-mobile)
  }

  .foo .foo-hidden-mobile,
    .foo .foo-hidden-phone {
    display: none
  }

  .e-con {
    --container-max-width:767px;
  }

  .foo-2490 .foo-element.foo-element-6e44be4e {
    --padding-top:50px;--padding-bottom:50px;--padding-left:10px;--padding-right:10px;
  }

  .foo-2490 .foo-element.foo-element-5f99a24b > .foo-widget-container {
    margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;
  }

  .foo-2490 .foo-element.foo-element-5f99a24b .foo-heading-title {
    font-size:26px;line-height:1.6em;
  }

  .foo-2490 .foo-element.foo-element-39c8884e {
    --padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;
  }

  .foo-2490 .foo-element.foo-element-16248bc7 {
    --margin-top:0px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:20px;--padding-bottom:40px;--padding-left:15px;--padding-right:15px;
  }

  .foo-2490 .foo-element.foo-element-1c257389 > .foo-widget-container {
    margin:20px 0px 0px 0px;
  }

  .foo-2490 .foo-element.foo-element-7dfae5eb > .foo-widget-container {
    margin:0px 0px 0px 0px;
  }

  .foo-2490 .foo-element.foo-element-7eb81e2d {
    font-size:16px;line-height:1.2lh;
  }

  .foo-2490 .foo-element.foo-element-36376482 {
    --padding-top:20px;--padding-bottom:40px;--padding-left:15px;--padding-right:15px;
  }

  .foo-2490 .foo-element.foo-element-70d7e9e3 > .foo-widget-container {
    margin:20px 0px 0px 0px;
  }

  .foo-2490 .foo-element.foo-element-70d7e9e3 .foo-heading-title {
    font-size:23px;line-height:1.6em;
  }

  .foo-2490 .foo-element.foo-element-f4e135d > .foo-widget-container {
    margin:0px 0px 0px 0px;
  }

  .foo-2490 .foo-element.foo-element-f4e135d .foo-heading-title {
    font-size:23px;line-height:1.6em;
  }

  .foo-2490 .foo-element.foo-element-45f31b1b {
    font-size:16px;line-height:1.2lh;
  }

  .foo-2490 .foo-element.foo-element-4965540e {
    --padding-top:50px;--padding-bottom:50px;--padding-left:20px;--padding-right:20px;
  }

  .foo-2490 .foo-element.foo-element-2214cf40 .foo-heading-title {
    font-size:26px;
  }

  .foo-2490 .foo-element.foo-element-59d6f643 .foo-heading-title {
    font-size:26px;
  }

  .foo-2450 .foo-element.foo-element-696d8aaa {
    --padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;
  }

  .foo-2450 .foo-element.foo-element-3dfadd25 {
    --width:46%;--justify-content:flex-end;
  }

  .foo-2450 .foo-element.foo-element-668b9536 > .foo-widget-container {
    margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;
  }

  .foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main .foo-item {
    padding-left:0px;padding-right:0px;
  }

  .foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main > .foo-nav-menu > li > .foo-nav-menu--dropdown, .foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu__container.foo-nav-menu--dropdown {
    margin-top:20px !important;
  }

  .foo-2450 .foo-element.foo-element-668b9536 {
    --nav-menu-icon-size:28px;
  }

  .foo-2450 .foo-element.foo-element-52c66a6e {
    --width:500px;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;
  }

  .foo-2450 .foo-element.foo-element-3eda7479 {
    --width:39%;--justify-content:flex-end;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;
  }

  .foo-2450 .foo-element.foo-element-3471f9db {
    --width:46%;--justify-content:flex-end;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;
  }

  .foo-2450 .foo-element.foo-element-25c6a6ab > .foo-widget-container {
    margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;
  }

  .foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--main > .foo-nav-menu > li > .foo-nav-menu--dropdown, .foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu__container.foo-nav-menu--dropdown {
    margin-top:0px !important;
  }

  .foo-2450 .foo-element.foo-element-25c6a6ab {
    --nav-menu-icon-size:28px;
  }
}

@media (min-width:768px) {
  .foo-2448 .foo-element.foo-element-5bd948eb {
    --width: 30%;
  }

  .foo-2448 .foo-element.foo-element-ad8393d {
    --width: 50%;
  }

  .foo-2490 .foo-element.foo-element-6e44be4e {
    --content-width:950px;
  }

  .foo-2490 .foo-element.foo-element-39c8884e {
    --content-width:950px;
  }

  .foo-2490 .foo-element.foo-element-4965540e {
    --content-width:950px;
  }

  .foo-2450 .foo-element.foo-element-3dfadd25 {
    --width:17%;
  }

  .foo-2450 .foo-element.foo-element-3eda7479 {
    --width:17%;
  }

  .foo-2450 .foo-element.foo-element-3471f9db {
    --width:80%;
  }
}

@media (prefers-reduced-motion:no-preference) {
  html {
    scroll-behavior: smooth
  }
}

@media (prefers-reduced-motion:reduce) {
  html * {
    transition-delay: 0s !important;
        transition-duration: 0s !important
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .foo .foo-hidden-tablet {
    display: none
  }
}

@media (min-width:1025px) and (max-width:1366px) {
  .foo .foo-hidden-laptop {
    display: none
  }
}

@media (min-width:1367px) and (max-width:99999px) {
  .foo .foo-hidden-desktop {
    display: none
  }
}

@media (max-width:1024px) {
  .e-con {
    --container-max-width:1024px;
  }

  .foo-nav-menu--dropdown-tablet .foo-nav-menu--main {
    display:none
  }

  .foo-2490 .foo-element.foo-element-6e44be4e {
    --padding-top:100px;--padding-bottom:100px;--padding-left:20px;--padding-right:20px;
  }

  .foo-2490 .foo-element.foo-element-39c8884e {
    --padding-top:100px;--padding-bottom:100px;--padding-left:20px;--padding-right:20px;
  }

  .foo-2490 .foo-element.foo-element-4965540e {
    --padding-top:100px;--padding-bottom:100px;--padding-left:20px;--padding-right:20px;
  }

  .foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main > .foo-nav-menu > li > .foo-nav-menu--dropdown, .foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu__container.foo-nav-menu--dropdown {
    margin-top:50px !important;
  }

  .foo-2450 .foo-element.foo-element-668b9536 {
    --nav-menu-icon-size:36px;
  }

  .foo-2450 .foo-element.foo-element-52c66a6e {
    --padding-top:20px;--padding-bottom:20px;--padding-left:0px;--padding-right:0px;
  }

  .foo-2450 .foo-element.foo-element-3eda7479 {
    --flex-direction:row-reverse;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap-reverse;--justify-content:flex-end;--padding-top:0px;--padding-bottom:0px;--padding-left:20px;--padding-right:0px;
  }

  .foo-2450 .foo-element.foo-element-3471f9db {
    --justify-content:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;
  }

  .foo-2450 .foo-element.foo-element-25c6a6ab > .foo-widget-container {
    padding:0px 0px 0px 0px;
  }

  .foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu--main > .foo-nav-menu > li > .foo-nav-menu--dropdown, .foo-2450 .foo-element.foo-element-25c6a6ab .foo-nav-menu__container.foo-nav-menu--dropdown {
    margin-top:50px !important;
  }

  .foo-2450 .foo-element.foo-element-25c6a6ab {
    --nav-menu-icon-size:36px;
  }
}

@media screen and (max-height: 1024px) {
  .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
    .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
    background-image: none !important;
  }
}

@media screen and (max-height: 640px) {
  .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
    .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
    background-image: none !important;
  }
}

@media (min-width:1025px) {
  .foo-nav-menu--dropdown-tablet .foo-menu-toggle,.foo-nav-menu--dropdown-tablet .foo-nav-menu--dropdown {
    display:none
  }

  .foo-nav-menu--dropdown-tablet nav.foo-nav-menu--dropdown.foo-nav-menu__container {
    overflow-y:hidden
  }
}

@media (max-width:1366px) {
  .foo-2450 .foo-element.foo-element-696d8aaa {
    --padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;
  }

  .foo-2450 .foo-element.foo-element-668b9536 > .foo-widget-container {
    padding:10px 40px 10px 40px;
  }

  .foo-2450 .foo-element.foo-element-668b9536 .foo-nav-menu--main .foo-item {
    padding-left:12px;padding-right:12px;
  }
}

@media (max-width:1366px) and (min-width:768px) {
  .foo-2450 .foo-element.foo-element-3dfadd25 {
    --width:200px;
  }
}

@media (max-width:1024px) and (min-width:768px) {
  .foo-2450 .foo-element.foo-element-3dfadd25 {
    --width:54%;
  }

  .foo-2450 .foo-element.foo-element-3eda7479 {
    --width:80%;
  }

  .foo-2450 .foo-element.foo-element-3471f9db {
    --width:500px;
  }
}

@media (min-width:640px) {

    .unlimited-elements-background-overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    
    .unlimited-elements-background-overlay.uc-bg-front {
            z-index: 999;
        }
}
